{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header id="header" class="{{#if @blog.cover}}">
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{navigation}}
</header>

<!-- Banner -->
<section id="banner" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <h2>{{@blog.description}}</h2>
</section>

<!-- One -->
<section id="one" class="wrapper style1 align-center">
    <div class="container">
        <header>
            <h2>Consectetur adipisicing elit</h2>
            <p>Lorem ipsum dolor sit amet adipisicing elit. Delectus consequatur sed tempus.</p>
        </header>
        <div class="row 200%">
            <section class="4u 12u$(small)">
                <!-- <img src="http://localhost:8080/content/images/2015/09/airate.png" width="300px"> -->
                <img src="{{asset "images/water.png"}}" width="300px">
                <p>Grow your favourite plants, vegetables or fruits using up to 95% less water than traditional methods.</p>
            </section>
            <section class="4u 12u$(small)">
                <img src="{{asset "images/light.png"}}" width="300px">
                <p>Integrated grow lights can be adjusted and scheduled to give you the optimal growth for your exact plant.</p>
            </section>
            <section class="4u$ 12u$(small)">
                <img src="{{asset "images/grown.png"}}" width="300px">
                <p>Enjoy the benefits of expedited growth with your plants, share the parameters used and iterate!</p>
            </section>
        </div>
    </div>
</section>

{{! The main content area on the homepage }}
<section id="two" class="wrapper style2 align-center">
    <div class="container">
        <header>
            <h2>Get involved now.</h2>
        </header>
        <div class="row">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div>
    </div>
</section>
